@{ViewData["AppTitle"] = "Just Chat";}
@{const string navbarBgColor = "dark";}
@{const string navbarFgColor = "light";}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatApp</title>

    @* STYLES *@
    @Html.Partial("_Styles")
</head>

<body class="h-100">

    @* HEADER *@
    @Html.Partial("_Header", new Colors(backgroundColor: navbarBgColor, foregroundColor: navbarFgColor))

    @* MESSAGES *@
    @Html.Partial("_Messages")

    @* BODY *@
    <div id="body-container" class="container">@RenderBody()</div>

    @* FOOTER *@
    @Html.Partial("_Footer", new Colors(backgroundColor: navbarBgColor, foregroundColor: navbarFgColor))

    @* SCRIPTS *@
    @Html.Partial("_Scripts")
    @RenderSection("Scripts", required: false)

</body>
</html>
